@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,700|Montserrat|Merriweather:300,400&display=swap');

body{
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

#name{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 2.4em;
}

.small_name{
    font-size: 1.5em;
}

.smaller_name{
    font-size: 1.3em;
}

.description{
    font-family: 'Fira Sans', 'sans-serif';
    font-weight: 300;
    font-size: 1.1em;
}

.container{
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
}

#picture{
    width: 100%;
}

#header{
    font-size: 2em;
}

.pubs{
    font-family: 'Fira Sans', 'sans-serif';
    font-weight: 300;
}

.pub_name{
    font-weight: 700;
}

.carousel-inner img {
  margin: auto;
}
